<div class="card resizable">
    <div class="card-header draggable">
      <app-rating></app-rating></div>
  <input type="file" id="imgInput2" >
  <img id="imgUpload2" src="" height="200" alt="Image preview...">
</div>