<div class="modal">
	<div class="modal-header">
		<div class="modal-header-left">
			<div class="modal-subname">Smart office</div>
			<div class="modal-name">Create new meeting</div>
		</div>

		<img src="./assets/img/logo.svg" />
	</div>
	<div class="modal-body">
		<div class="modal-left modal-block">
			<div class="agenda-header">Meeting details:</div>
			<div class="element-wrapper">
				<label class="element-label">Meeting Name:</label>
				<input type="text" class="input-element" [(ngModel)]="state.meetingName" />
			</div>
			<div class="element-wrapper">
				<label class="element-label">User Name:</label>
				<input type="text" class="input-element" [(ngModel)]="state.userName" />
			</div>
		</div>
		<div class="modal-mid modal-block">
			<div class="agenda-header">Add agenda items:</div>
			<div class="element-wrapper">
				<label class="element-label">Agenda item name:</label>
				<input type="text" class="input-element" name="Name" id="aName" [(ngModel)]="name" [placeholder]="" />
			</div>

			<div class="element-wrapper">
				<label class="element-label">Agenda item description:</label>
				<textarea class="input-element" name="Description" id="aDescription" [(ngModel)]="description" [placeholder]=""></textarea>
			</div>

			<button (click)="addAgenda()" class="my-btn">Add Agenda</button>


		</div>

		<div class="modal-right modal-block">
			<div class="agenda-header">Agenda:</div>
			<!-- 		<ul>
				<li *ngFor="let agenda of agendas;">
					{{ agenda.name }}
				</li>
				{{agendas | json}}
			</ul> -->

			<div class="agenda-list">
				<div *ngFor="let agenda of state.agenda; index as i" class="agenda">
					<div class="agenda-name">{{ i + 1 }}. {{agenda.name}}</div>
					<div class="agenda-description">{{agenda.description}}</div>
				</div>
			</div>

			<button class="my-btn start-meeting-btn" (click)="next()">Start Meeting</button>
		</div>
	</div>
</div>