<ul class="chat">
    <li *ngFor="let msg of messages; let i = index" class="chat-message">
    	<div class="name">{{ msg.author }}</div>
    	<div class="message">{{ msg.message }}</div>
    </li>
</ul>
<div class="element-wrapper">
	<input class="input-element" type="text" [(ngModel)]="chatMessage" />
</div>
<button (click)="sendMsg()" class="my-btn wide-btn">Send Message</button>