<ul class="chat">
    <li *ngFor="let msg of messages; let i = index" class="chat-message">
        <div class="name">{{ msg.author }}</div>
        <div class="message">{{ msg.message }}</div>
    </li>
</ul>