<div class="whiteboard-wrapper">
    <div class="whiteboard-tabs">
        <div class="tab" [class.active]="activeComponent === 'Whiteboard'" (click)="showComponent('Whiteboard')">Whiteboard</div>
        <div class="tab" [class.active]="activeComponent === 'Screenshare'"(click)="showComponent('Screenshare')">Screenshare</div>
        <div class="tab" [class.active]="activeComponent === 'Code'"(click)="showComponent('Code')">Code</div>
        <div class="tab" [class.active]="activeComponent === 'Image'"(click)="showComponent('Image')">Image</div>
        <div class="tab" [class.active]="activeComponent === 'Video'"(click)="showComponent('Video')">Video</div>
    </div>
    <div class="whiteboard-subtabs" [hidden]="!(activeComponent === 'Whiteboard')">
        <div class="subtab" (click)="createComponent('Text')"><div class="type icon-edit-form"></div><div class="type-name">Text</div></div>
        <div class="subtab" (click)="createComponent('Image')"><div class="type icon-image"></div><div class="type-name">Image</div></div>
        <div class="subtab" (click)="createComponent('Draw panel')"><div class="type icon-brush"></div><div class="type-name">Draw</div></div>
        <div class="subtab" (click)="createComponent('Code panel')"><div class="type icon-insert-tag-field"></div><div class="type-name">Code</div></div>
       <!--  <div class="subtab" (click)="createComponent('Vote')">Vote</div> -->
        <!-- <div class="subtab" (click)="createComponent('Sticker')">Sticker</div> -->
    </div>
    <div class="whiteboard-panel" [ngClass]="{'code-tab' : activeComponent === 'Code'}">
        <div [hidden]="!(activeComponent === 'Whiteboard')">
            <app-whiteboard></app-whiteboard>
        </div>

        <div [hidden]="!(activeComponent === 'Screenshare')">
            <app-screenshare></app-screenshare>
        </div>

        <div [hidden]="!(activeComponent === 'Code')" class="code-tab-active">
            <app-code></app-code>
        </div>

        <div [hidden]="!(activeComponent === 'Image')">
            <app-image></app-image>
        </div>

        <div [hidden]="!(activeComponent === 'Video')">
            <app-video></app-video>
        </div>
    </div>
</div>
