<div class="first" *ngIf="!api.state.showMeeting && firstUser">
	<app-agenda-creation></app-agenda-creation>
</div>
<div class="first" *ngIf="!api.state.showMeeting && !firstUser">
	<app-login></app-login>
</div>
<div class="main" *ngIf="api.state.showMeeting">
	<div class="top">
		<app-main-header></app-main-header>
	</div>

	<div class="bottom">
		<app-agenda></app-agenda>
		<app-container></app-container>
		<div class="comments-panel">
			<app-comments></app-comments>
			<app-chat-box></app-chat-box>
		</div>
		<app-users></app-users>
	</div>

</div>