<div class="modal-test-login" *ngIf="!api.state.showMeeting">
	<div  class="popup">
		<img src="./assets/img/logo.svg" />
		<div class="element-wrapper">
        	<label class="element-label">Name:</label>
            <input type="text" class="input-element" name="User Name" id="userName" [(ngModel)]="userName" [placeholder]="" />
        </div>
		<button class="my-btn wide-btn" (click)="next()">Log In</button>
    </div>
</div>