.agenda-item {
	.agenda-collapsible {
		width: 100%;
		background: #2a2d2e;
		padding: 0.25rem 0.75rem;
		color: #d8dde6;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #393D3F;
		cursor: pointer;
		.ag-name {
			display: inline-flex;
			align-items: center;
			.number {
				padding-right: 0.25rem;
			}
		}
		.icon-success {
			padding-right: 0.25rem;
			font-size: 1rem;
			display: inline-flex;
		}
		.arrow {
			display: inline-flex;
			align-items: center;
		}
	}
	.agenda-body {
		background: #d8dde6;
		background: #49555f;
		padding: 0rem 0.75rem 0.5rem;
		display: none;
		user-select: none;
		.ag-desc {
			color: #49555f;
			margin-bottom: 0.25rem;
			color: #fff;
		}
		.agenda-summary {

		}
		.element-label {
			color: #d8dde6;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				font-size: 0.9rem;
				position: relative;
				padding-left: 1rem;
				color: #d8dde6;
				&:before {
					position: absolute;
					content: "\2022";
					left: 0;
					font-size: 1rem;
					line-height: 1;
					padding: 0 0.25rem;
					top: 3px;
				}
			}
		}
		.input-element {
			background: transparent;
			border: none;
			height: 34px;
			&:focus {
				border: 1px solid #393d3f57;
				background: #fff;
			}
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color: #fff;
			    opacity: 1; /* Firefox */
			}

		}
	}
	.agenda-collapsible.agenda-open + .agenda-body {
		display: block;
	}
}
.notes {
	padding: 0.75rem 0.5rem;
	list-style: none;
	margin: 0;
	.element-wrapper {
		margin-bottom: 0;
	}
	.element-wrapper .input-element {
		width: 100%;
	}
}