app-chat-box, app-comments {
	padding: 0.5rem;
	border-left: 1px solid #393D3F;
	display: block;
	.element-wrapper .input-element {
		width: 100%;
	}
}
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 12rem;
	margin-bottom: 0.25rem;
	overflow: auto;
	.chat-message {
		margin-bottom: 0.5rem;
		background: #ffffff52;
		border-radius: 0.25rem;
		padding: 0 0.5rem;
		.name {
			font-size: 0.8rem;
			color: #d8dde6;
		}
		.message {
			font-size: 0.9rem;
			line-height: 1;
			padding-bottom: 0.35rem;
			color: #fff;
		}
	}
}
app-chat-box {
    flex: 1 0 auto;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
	.chat {
	    background: #00000054;
	    border-radius: 0.225rem;
	    padding: 0.4rem;
	    flex: 1;
	}
}
.comments-panel {
    display: flex;
    flex-direction: column;
}