@font-face {
	font-family: "Palanquin";
	src:url("./assets/fonts/palanquin-regular.ttf");
	src:url("./assets/fonts/palanquin-regular.ttf")  format("truetype");
	font-weight: normal;
	font-style: normal;
}

@charset "UTF-8";

@font-face {
  font-family: "hackit";
  src:url("./assets/fonts/hackit.eot");
  src:url("./assets/fonts/hackit.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/hackit.woff") format("woff"),
    url("./assets/fonts/hackit.ttf") format("truetype"),
    url("./assets/fonts/hackit.svg#hackit") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hackit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hackit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevrondown:before {
  content: "\61";
}
.icon-chevronleft:before {
  content: "\62";
}
.icon-chevronright:before {
  content: "\63";
}
.icon-chevronup:before {
  content: "\64";
}
.icon-clear:before {
  content: "\65";
}
.icon-check:before {
  content: "\66";
}
.icon-ban:before {
  content: "\67";
}
.icon-answer:before {
  content: "\68";
}
.icon-comments:before {
  content: "\69";
}
.icon-chat:before {
  content: "\6a";
}
.icon-error:before {
  content: "\6b";
}
.icon-dislike:before {
  content: "\6c";
}
.icon-user:before {
  content: "\6d";
}
.icon-success:before {
  content: "\6e";
}
.icon-share-post:before {
  content: "\6f";
}
.icon-warning:before {
  content: "\70";
}
.icon-filter-filled-tool-symbol:before {
  content: "\71";
}
.icon-new:before {
  content: "\72";
}
.icon-like:before {
  content: "\73";
}
.icon-questions-and-answers:before {
  content: "\74";
}
.icon-quick-text:before {
  content: "\75";
}
.icon-privately-shared:before {
  content: "\76";
}
.icon-relate:before {
  content: "\77";
}
.icon-unmuted:before {
  content: "\78";
}
.icon-volume-high:before {
  content: "\79";
}
.icon-volume-low:before {
  content: "\7a";
}
.icon-volume-off:before {
  content: "\41";
}
.icon-zoomin:before {
  content: "\42";
}
.icon-zoomout:before {
  content: "\43";
}
.icon-unlock:before {
  content: "\44";
}
.icon-sync:before {
  content: "\45";
}
.icon-right:before {
  content: "\46";
}
.icon-resource-absence:before {
  content: "\47";
}
.icon-info:before {
  content: "\48";
}
.icon-emoji:before {
  content: "\49";
}
.icon-attach:before {
  content: "\4a";
}
.icon-copy:before {
  content: "\4b";
}
.icon-palette:before {
  content: "\4c";
}
.icon-identity:before {
  content: "\4d";
}
.icon-image:before {
  content: "\4e";
}
.icon-edit-form:before {
  content: "\4f";
}
.icon-brush:before {
  content: "\50";
}
.icon-insert-tag-field:before {
  content: "\51";
}
