app-main-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	width: 100%;
	img {
		height: 100%;
	}
}
.main-header-left {
	display: flex;
	flex-direction: column;
	padding: 0.3rem 0.75rem;

	.app-name {
		font-size: 1rem;
		display: flex;
		align-items: center;
		height: 1rem;
		color: #d8dde6;
	}
	.meeting-name {
		font-size: 1.5rem;
		display: flex;
		flex: 1;
		color: #fff;
	}
}
.main-header-right {
	padding: 0.3rem 0.75rem;
}