* {
	box-sizing: border-box;
	font-family: Palanquin;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
app-main-header, app-chat, app-agenda, app-chat-box, app-root, app-whiteboard {
	display: block;
}
app-root {
	display: flex;
	height: 100%;
	width: 100%;
}
.main {
	overflow: auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	.top {
		flex: 0 0 4rem;
		background: #393D3F;
		display: flex;
	}
	.bottom {
		flex: 1;
		background: #f8f8f8;
		display: flex;
	}
}
app-container {
	flex: 3;
}
app-agenda {
	flex: 1;
	background: #2a2d2e;
	overflow-y: auto;
	overflow-x: hidden;
}
/*app-whiteboard {
	flex: 3;
}*/

app-users {
	flex: 1;
	background: #2a2d2e;
	overflow-y: auto;
	overflow-x: hidden;
}


.ace_layer.ace_gutter-layer.ace_folding-enabled {
	height: 100% !important;
}
.aceEditor * {
	font-family: Consolas;
}

.comments-panel {
	flex: 1;
	background: #49555f;
	overflow-y: auto;
	overflow-x: hidden;
}
app-chat-box {
	flex: 1;
}
app-comments {
	flex: 1;
}