app-agenda-creation {
	display: block;
	height: 100%;
	width: 100%;
	background: #393D3F;
	position: absolute;
    z-index: 99;
}
.modal {
	display: flex;
	flex-direction: column;
    background: #d8dde6;
    height: 30rem;
    width: 56rem;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 11vh;
    border-radius: 0.25rem;
	.modal-header {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	    border: none;
	    padding: 1rem 1.5rem;
	    height: 5rem;
		.modal-name {
			font-size: 1.5rem;
		}
		.modal-subname {
			font-size: 1rem;
			display: flex;
		}
		img {
			height: 100%;
		}
		.modal-header-left {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}
	.modal-body {
		flex: 1;
		padding-top: 0;
		display: flex;
		flex-direction: row;
		.modal-block {
			flex: 1;
			padding: 0.5rem;
			position: relative;
			&.modal-mid {
				flex: 0 0 17rem;
			}
			&.modal-right {
				padding-bottom: 2.5rem;
				overflow: hidden;
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.element-wrapper {
	margin-bottom: 0.75rem;
	.element-label {
		display: block;
		font-size: 0.85rem;
	    margin-bottom: 0;
	    color: #393D3F;
	    margin-left: 2px;
	}
	.input-element {
		border: 1px solid #393d3f57;
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;
		width: 16rem;
		max-width: 100%;
		&:focus {
			outline: none;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.49);
		}
	}
}


.agenda-header {
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 7px;
}
.agenda-list {
	overflow: auto;
	flex: 1;
	.agenda {
		.agenda-name {
			font-size: 1.1rem;
			color: #393D3F;
		}
		.agenda-description {
			font-size: 0.9rem;
			color: #888;
			margin-left: 0.9rem;
		}
	}
}

.my-btn {
	border: none;
    background: #C6C5B9;
    float: right;
    padding: 0.25rem 0.8rem;
    cursor: pointer;
    &.start-meeting-btn {
    	position: absolute;
    	bottom: 0;
    	right: 0;
		background: #393D3F;
		color: #fff;
	}
	&.wide-btn {
		float: none;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&.icon-success:before {
			padding-right: .4rem;
		}
		&:hover {
			background: #afafaf;
		}
	}
}