.users-wrapper {
	> .video-box {
		width: 100% !important;
		height: auto;
		margin-top: -4px;
		position: relative;
		video {
			width: 100% !important;
			height: auto;
		}
		.connectionstate {
			position: absolute;
			color: #fff;
			bottom: 5px;
			width: 100%;
			text-align: center;
			background: #0000007d;
			padding: 0.3rem;
		}
	}
}