.whiteboard-wrapper {
	display: flex;
	height: 100%;
    width: 100%;
    flex-direction: column;
    background: #C6C5B9;
    position: relative;
	.whiteboard-tabs {
		display: flex;
		background: #49555f;
		.tab {
			padding: 0.5rem 0.75rem;
			cursor: pointer;
			color: #ddd;
			&.active {
				background: #ddd;
				color: #fff;
				background: #62929e;
			}
			&:hover {
				background: #56818B;
			}
		}
	}
	.whiteboard-subtabs {
		display: flex;
		/* background: #62929e;*/
		background: transparent;
 		position: absolute;
		flex-direction: column;
		right: 0.5rem;
		top: 3rem;
		z-index: 999;
		.subtab {
			padding: 0.25rem 0.75rem;
			font-size: 0.9rem;
			color: #fff;
			cursor: pointer;
			position: relative;
			text-align: center;
			width: 3rem;
			height: 2.2rem;

			.type {
				color: #888;
				font-size: 1.2rem;
			}
			.type-name {
				display: none;
				position: absolute;
				white-space: nowrap;
				right: 2.65rem;
				top: 0.3rem;
			}
			&:hover {
				.type-name {
					display: block;
				}
			}
			&:nth-child(1):hover {
				.type, .type-name {
					color: #e91e63;
				}
			}
			&:nth-child(2):hover {
				.type, .type-name {
					color: #9c27b0;
				}
			}
			&:nth-child(3):hover {
				.type, .type-name {
					color: #0286C2;
				}
			}
			&:nth-child(4):hover {
				.type, .type-name {
					color: #3E8F41;
				}
			}
		}
	}
	.whiteboard-panel {
		flex: 1;
		padding: 0.5rem;
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
		overflow-x: hidden;
		app-card-code, app-card-drawing, app-card-text {
			display: inline-flex;
			margin: 0.5rem;

		}
		app-card-text {
			min-width: 10rem;
			max-width: 100%;
			height: 15rem;
			.card-bdy {
				padding: 0.5rem;
				ul {
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li {
						font-size: 1rem;
						position: relative;
						padding-left: 1rem;
						color: #393D3F;
						&:before {
							position: absolute;
							content: "\2022";
							left: 0;
							font-size: 1rem;
							line-height: 1;
							padding: 0 0.25rem;
							top: 3px;
						}
						&:last-child {
							margin-bottom: 0.5rem;
						}
					}
				}
			}
		}
		app-card-drawing {
			min-width: 10rem;
			height: 15rem;
			max-width: 100%;
		}
		app-card-code {
			min-width: 10rem;
			height: 15rem;
			max-width: 100%;
			.card {
				background: #272822;
			}
			.card-header .left, .card-header .right {
				color: #fff;
			}
		}
		&.code-tab {
			padding: 0;
		}
		.code-tab-active {
			width: 100%;
			height: 100%;
			app-code {
				display: block;
				width: 100%;
				height: 100%;
				.ace_editor {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.card {
	display: flex;
	background: #d8dde6;
	width: 100%;
    height: 100%;
    .resizable {
    	height: 100%
    }
}

.card-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    app-rating {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		.left, .right {
			color: #49555f;
			span:hover {
				color: #62929e;
			}
		}
		.icon-quick-text {
			position: relative;
			padding-right: 0.25rem;
			.popup {
				position: absolute;
			}
		}
    }
    .icon-like, .icon-dislike, .icon-quick-text {
    	cursor: pointer;
    }

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.modal-test {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #00000080;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	.popup {
		width: 17rem;
	    height: 9rem;
	    background: #d8dde6;
	    border-radius: 0.25rem;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding: 1rem;
	    padding-top: 0.5rem;
	    .element-wrapper {
	    	margin-bottom: 0;
	    }
	}
}
.modal-test-login {
	background: #212529;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	.popup {
		width: 17rem;
	    height: 12.5rem;
	    background: #d8dde6;
	    border-radius: 0.25rem;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding: 1rem;
	    .element-wrapper {
	    	margin-bottom: 0;
	    }
	}
}

.icon-like {
    padding: 0 0.25rem 0 0.5rem;
    display: inline-flex;
    height: 100%;
    align-items: center;
}
.icon-dislike {
    padding: 0 0.25rem 0 0.5rem;
    display: inline-flex;
    height: 100%;
    align-items: center;
}
.card-header {
	.left, .right {
		display: flex;
	}

}