<div id="app">
    <div><video #video id="video" width="640" height="480" autoplay></video></div>
    <div><button id="snap" (click)="capture()">Snap Photo</button></div>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <app-rating></app-rating>

    <ul>
        <li *ngFor="let c of captures">
            <div>
                <img src="{{ c }}" height="50" />
                <app-rating></app-rating>
            </div>
        </li>
    </ul>
</div>