<div *ngFor="let agenda of state.agenda; index as i" class="agenda-item">
    <div class="agenda-collapsible" (click)="agenda.closed=!agenda.closed" [ngClass]="{'agenda-open': !agenda.closed, 'agenda-completed' : !agenda.active}">
        <div class="ag-name">
            <span class="number" *ngIf="!agenda.completed">{{i + 1}}.</span> <span *ngIf="agenda.completed" class="icon-success"></span>
            {{ agenda.name }}
        </div>
        <div class="arrow icon-chevrondown" [ngClass]="{'icon-chevronright': agenda.closed}"></div>
    </div>
    <div class="agenda-body">
        <div class="ag-desc">{{ agenda.description }}</div>

        <div class="element-wrapper">
            <label class="element-label">Agenda summary: </label>
            <ul>
                <li *ngFor="let summary of agenda.summary.summary" class="next-steps">{{summary}}</li> <!-- KIKI: Ng repeat -->
            </ul>
            <input type="text" *ngIf="agenda.active" name="Summary" [(ngModel)]="tmpSumInpt" (keyup.enter)="onKeydown($event, agenda)"
                   class="input-element" placeholder="+ Add new" />
        </div>
        <div class="element-wrapper">
            <label class="element-label">Next Steps: </label>
            <ul>
                <li *ngFor="let summary of agenda.summary.nextSteps" class="next-steps">{{summary}}</li> <!-- KIKI: Ng repeat -->
            </ul>
            <input type="text" *ngIf="agenda.active" name="Summary" [(ngModel)]="tmpStpInpt" (keyup.enter)="onKeydownSteps($event, agenda)"
                   class="input-element" placeholder="+ Add new" />
        </div>
        <button (click)="markComplete(agenda)" *ngIf="agenda.active" class="my-btn wide-btn icon-success">Mark as done</button>
        <!-- <button (click)="needsMoreDiscussion(agenda)">Needs more discussion</button> -->
        <!-- <div><span>Positive: {{ totalLikes }}</span> | <span>Negative: {{ totalDislikes }}</span></div> -->
      </div>

    <!-- <p (click)="setActive(agenda)"><b>{{ agenda.name }}</b></p> -->

</div>
<ul id="notes" class="notes">
    <li>
        <div class="input-single element-wrapper">
            <label class="element-label" style="color: #fff;">Meeting transcript</label>
            <textarea id="note-textarea" class="input-element" placeholder=" " rows="6"></textarea>
        </div>
    </li>
</ul>
