.drawingContainer {
  width:  100%;
  height: 100%;
  position: relative;
  background: #d8dde6;
}

.drawingContainer #canvas {
  background-color: #333333;
  position: absolute;
  top: 35px;
}

.drawingContainer #status {
  color: #FFFFFF;
  position: absolute;
  cursor: default;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  margin: 10px;
  top: 30px;
}

.drawingContainer #controls {
  background-color: #AAAAAA;
  position: absolute;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: smaller;
  padding: 3px;
  width: 594px;
  height: 25px;
}

.drawingContainer select {
  font-family: monospace;
  font-size: medium;
}

.drawingContainer * {
  padding:0;
  margin:0;
}

.drawingContainer #controls {
  width: 100%;
}

.resizable {
  resize:both;
  overflow:auto;
}