<!--<div class="card draggable">Drawing</div>-->
<div class="drawingContainer card resizable">
    <div class="card-header draggable">
            <app-rating></app-rating>    </div>
        <iframe scrolling="no" style="height:100%" id="myframe" src="http://unionplatform.com/samples/orbitermicro/UnionDraw/uniondraw.html"></iframe>
</div>
