<div class="card resizable">
    <div class="card-header draggable">
        <app-rating></app-rating>
    </div>
    <div class="card-bdy">
	    <ul>
	        <li *ngFor="let value of item.values" class="next-steps">{{value}}</li> <!-- KIKI: Ng repeat -->
	    </ul>
	    <div class="element-wrapper">
	    	<input type="text" name="value" [(ngModel)]="tmpInpt" (keyup.enter)="onKeydown($event, item)" class="input-element" placeholder="+ Add new" />
		</div>
    </div>

</div>