<div class="main-header-left">
	<div class="app-name">Smart Office</div>
	<div class="meeting-name">{{state.meetingName}}</div>
</div>
<div class="main-header-right">
	<div class="presenter current"></div>
	<img src="./assets/img/logo.svg" />
</div>