<div class="left">
	<span class="icon-like" (click)="like()"></span>{{ totalLikes }}
	<span class="icon-dislike" (click)="dislike()"></span>{{ totalDislikes }}
</div>
<div class="right">
    <span class="icon-quick-text" (click)="toogleCommentBlock()"></span>
</div>
<div class="modal-test" [hidden]="!toogleComments">
	    <div  class="popup">
	        <div class="element-wrapper">
	        	<label class="element-label">Comment:</label>
	            <textarea class="input-element" [(ngModel)]="chatMessage"></textarea>
	        </div>
	        <button (click)="sendMsg()" class="my-btn wide-btn">Save Comment</button>
	    </div>

</div>


